doctype html

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge",)
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Noom
    style
        include style.css

    body
        headerx
            h1 LectureCode
        main
            div#welcome
                form    
                    input(placeholder="코드 입력", required, type="text")
                    button(style='float:right;') 방 개설
            div#call
                div#myStream
                    video#myFace(autoplay,playsinline, width="400", height="400")
                    button#mute 음소거
                    button#camera(style='float:right;') 카메라 끄기
                    select#cameras
                    video#peerFace(autoplay,playsinline, width="400", height="400")
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js") 
